{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Weather Information API</h1>
    <p>The Weather Information API provides accurate and up-to-date real-time weather data, offering a wide range of essential information for users.</p>

    <h2>Features:</h2>
    <p><strong>Weather Status:</strong> General conditions such as "sunny", "cloudy", "rainy", and more.</p>
    <p><strong>Maximum and Minimum Temperature:</strong> Values indicating the temperature variations throughout the day.</p>
    <p><strong>Feels Like Temperature:</strong> The temperature perceived by the body, considering factors such as humidity and wind.</p>

    <p>The API is easy to integrate and provides fast, accurate responses.</p>
{% endblock %}